[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "nerdtree"]
	path = nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim-rails"]
	path = vim-rails
	url = git://github.com/tpope/vim-rails.git
